	/* Averia */
  @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
   
html{
  margin: 0;
  padding: 0;
  overflow:hidden;
  height:100%;
  width: 100vw;
  position:fixed;
  min-width: fit-content;
}

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  /* background: linear-gradient(#df725d, #cc4b51, #7f4855, #463e50, #233e51); */
  height:100%;
  width: 100vw;
  min-width: fit-content;
  font-family: 'Averia Serif Libre';
	font-weight:300;
  overflow: auto;
  /* -webkit-filter: url(#wavy1);
  filter: url(#wavy1); */
}

.container{
  display:flex;
  flex-direction: column;
  width:90vw;
  height:95%;
  margin-top:5%;
  margin-bottom:5%;
  margin-left:auto;
  margin-right:auto;
  justify-content:center;
  align-items: center;
}

.logo-container{
  width:100vw;
  position:absolute;
  z-index:999;
}

.logo{
  width:100%;
  left:0;
  position:absolute;
  z-index:999;
  display:none;
  font-size:200px;
  color:red;
  font-weight: bold;
  text-align:center;
  /* mix-blend-mode: hard-light; */
  /* filter:drop-shadow(5px 5px 1px white); */
  /* background-image: url(imgs/lab-logo-wavy-light.png);
  background-repeat: no-repeat;
  background-size:cover; */
}

.logo img{
  width: 80%;
  margin-bottom:10%;
  height: auto;
  object-fit: cover;
  text-align:center;
  /* margin-bottom: 11%;
  filter:drop-shadow(60px 60px 1px white);
  filter:drop-shadow(15px 15px 20px rgba(225,225,225,0.6)); */
}


.main-title{
  font-size:150px;
  margin-top:3%;
  margin-bottom:3%;
  text-align: center;
  color:red;
}


.nft-status{
  width:100%;
  text-align:center;
  font-size:180px;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  color:white;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition:all 1s;
}


.nft-display .nft-image {
  position: relative;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  padding-top:0;
  
}

.nft-image{
  background:rgb(95, 254, 241);
}

.splide__slide img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  /* border:20px solid rgb(95, 254, 241); */
  filter:drop-shadow(0px 0px 100px rgba(95, 254, 241,0.6));
}

.nft-display {
  width:100%;
  height:75%;
  /* border-radius: 40px;
  background:rgb(187, 228, 228);
  border:5px solid black;
  margin-bottom:5vh; */
}

.nft-status span{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  background:rgb(95, 254, 241);
  padding:1%;
  margin-bottom:1%;
  color:black;
  border-radius: 100px;
}



.visitor-name{
  margin-bottom:12%;
}

.nft-meta-data{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content:center;
  align-items: center;
  font-size:80px;
  color:white;
}

.meta-data-text{
  width:50%;
  text-align: left;
}

.nft-logo{

}

.nft-logo img{
  height:60%;
}

